.article-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.article-list {
  grid-column: span 3;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.article-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 50px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.226);
  box-shadow: 1px 1px 10px 1px black, 0em 0 0.4em black;
}

.article-card > img {
  border-radius: 20px;
  width: 250px;
}
